<h2>Other Functions</h2>
<p><%= link_to "Disable/Enable User Signups", io_signups_path, method: :put %> | Currently: <%= Signup.first == nil || Signup.first.enabled ? "Enabled" : "Disabled" %></p>
<hr/>
<h2>Manage Users</h2>
<ul>
<% @users.each do |u| %>
    <% if u.user.admin %>
        <% next %>
    <% end %>

    <li>
        <%= u.name %>
        <% if u.user != nil %>
         | <%= link_to "Soft Delete", user_soft_delete_path(u.id), method: :delete, data: { confirm: "This wil remove the User with removing any records. Are you Sure?" } %>
        <% end %>
        | <%= link_to "Hard Delete", user_hard_delete_path(u.id), method: :delete, data: { confirm: "This wil remove the User and any records. Are you Sure?" } %>
    </li>
<% end %>
</ul>