<%= flash[:recaptcha_error] %>
<div class='container contact-us'>
    <h1>Contact Us</h1>
    <div class='contact-form'>
        <%= simple_form_for :contactus, url: contactus_path do |f| %>
            <div class='nameemaildiv'>
            <%= f.input :name, required: true, label: false, placeholder: 'Name' %>
            <%= f.input :email, required: true, label: false, placeholder: 'Email' %>
            </div>
            <%= f.input :message, as: :text, label: false, required: true, placeholder: 'Message (Markdown Formatting Supported)' %>
            <%= f.input :nickname, as: :hidden %>
            
            <div class='capcica'>
            <%= recaptcha_tags %>
            </div>

            <%= f.submit 'Send Message' %>
        <% end %>
    </div>
</div>