<tr>
    <td title="Archer"><%= record.name.titlecase %>
        <% if can_edit_record(record) %>
            <%= link_to 'Edit', edit_record_path(record) %>
            <%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
    </td>
    <td title="Score"><%= record.score %></td>
    <td title="Round"><%= record.round.to_s.titlecase %></td>
    <td><%= record.bowstyle.to_s.titlecase %></td>
    <td><%= record.achived_at.strftime("%e/%-m/%Y") %></td>
    <td><%= record.academic_year_string %></td>
    <td><%= record.gender.to_s.titlecase %></td>
</tr>