<tr>
    <td title="Archer" user="<%=record.record_name_id%>"><%= record.name.titlecase %>
        <% if can_edit_record(record) %>
            <%= link_to 'Delete', record, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%end%>
    </td>
    <td title="Score"><%= record.score %></td>
    <td title="Round"><%= record.round.to_s.titlecase %></td>
    <td title="Bowstyle"><%= record.bowstyle.to_s.titlecase %></td>
    <td title="Date"><%= record.achived_at.strftime("%e/%-m/%Y") %></td>
    <td title="Academic Year"><%= record.academic_year_string %></td>
    <td title="Gender"><%= record.gender.to_s.titlecase %></td>
</tr>