<%= simple_form_for(:search, url: records_path, method: :get) do |f| %>
  <div class="form-inputs">
    <div class='.sin'>
    <%= f.input :round, required: false, collection: records_round_format, value_method: :first, label_method: :second, selected: (params[:search].nil? ? :portsmouth : params[:search][:round]) %>
    </div>
    <div class='.sin'>
    <%= f.input :bowstyle, required: false, collection: Record.bowstyles, value_method: :first, label_method: :first, selected: (params[:search].nil? ? :recurve : params[:search][:bowstyle]) %>
    </div>
    <div class='.sin'>
    <%= f.input :from, required: false, as: :string, input_html: {type: :date, value: (params[:search].nil? ? Date.new(Date.today.year - 1, 9, 1)  : params[:search][:from])} %>
    </div>
    <div class='.sin'>
    <%= f.input :to, required: false, as: :string, input_html: {type: :date, value: (params[:search].nil? ? Date.new(Date.today.year + 1, 9, 1) : params[:search][:to])} %>
    </div>
    <div class='.sin'>
    <%= f.input :mf, required: false, collection: Record.genders, value_method: :first, label_method: :first, selected: (params[:search].nil? ? :male : params[:search][:mf]), label: "Gender", input_html: { checked: (params[:search].nil? ? false : !params[:search][:pb].to_i.zero?) } %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Search" %>
    <%= link_to "Clear", records_path, class: 'button' %>
    <%= f.input :null, as: :boolean, label: "PB Only", input_html: { onchange: "duplicate_check(event)" } %>
  </div>

<% end %>