<p id="notice"><%= notice %></p>

<h1>Records</h1>

<table>
  <thead>
    <tr>
      <th>Record name</th>
      <th>Score</th>
      <th>Round</th>
      <th>Bowstyle</th>
      <th>Achived at</th>
      <th>Location</th>
      <th>Bowstyle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.record_name_id %></td>
        <td><%= record.score %></td>
        <td><%= record.round %></td>
        <td><%= record.bowstyle %></td>
        <td><%= record.achived_at %></td>
        <td><%= record.location %></td>
        <td><%= record.bowstyle %></td>
        <td><%= link_to 'Show', record %></td>
        <td><%= link_to 'Edit', edit_record_path(record) %></td>
        <td><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Record', new_record_path %>
