<p id="notice"><%= notice %></p>

<p>
  <strong>Record name:</strong>
  <%= @record.record_name_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @record.score %>
</p>

<p>
  <strong>Round:</strong>
  <%= @record.round %>
</p>

<p>
  <strong>Bowstyle:</strong>
  <%= @record.bowstyle %>
</p>

<p>
  <strong>Achived at:</strong>
  <%= @record.achived_at %>
</p>

<p>
  <strong>Location:</strong>
  <%= @record.location %>
</p>

<p>
  <strong>Bowstyle:</strong>
  <%= @record.bowstyle %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
