<h1 style='text-align:center'>Upcomming Events!</h1>
<% if has_perms? %>
    <%= link_to "Create Event", new_event_path %>
<% end %>

<div class='timeline'>
    <% @events.sort_by(&:date).each do |e| %>
        <div>
            <article class='timeline-container'>
                <div class='content'>
                    <h2><%= e.title %> @ <%= e.date.strftime("%l:%M%P On %B %_d#{ date_suffix(e.date.day) }, %Y") %></h2>
                    <div style='max-height:10em;overflow:hidden;text-overflow:ellipsis;'><%= markdown_body(e.description).html_safe %></div>

                    <% if user_signed_in? %>
                        <div class='response-buttons'>
                            <% if current_user.liked?(e, vote_scope: :going) %>
                                <%= link_to "Going", response_event_path(e, event_resonse: :clear), method: :put, class: 'event_response event_response_selected' %>
                            <% else %>
                                <%= link_to "Going", response_event_path(e, event_resonse: :going), method: :put, class: 'event_response' %>
                            <% end %>

                            <% if current_user.liked?(e, vote_scope: :mabey) %>
                                <%= link_to "Mabey", response_event_path(e, event_resonse: :clear), method: :put, class: 'event_response event_response_selected' %>
                            <% else %>
                                <%= link_to "Mabey", response_event_path(e, event_resonse: :mabey), method: :put, class: 'event_response' %>
                            <% end %>

                            <% if current_user.liked?(e, vote_scope: :cant) %>
                                <%= link_to "Can't Go", response_event_path(e, event_resonse: :clear), method: :put, class: 'event_response event_response_selected' %>
                            <% else %>
                                <%= link_to "Can't Go", response_event_path(e, event_resonse: :cant), method: :put, class: 'event_response' %>
                            <% end %>
                        </div>

                        <% if has_perms? %>
                            <div class='event-control-buttons'>
                                <%= link_to "Edit  |", edit_event_path(e) %>
                                <%= link_to "Delete  |", event_path(e), method: :delete, data: { confirm: "Are you sure?" } %>
                        <%end%>
                    <% end %>

                    <% if !has_perms? %>
                        <div class='event-control-buttons'>
                    <% end %>
                        <%= link_to "More >", event_path(e) %>
                    </div>
                </div>
            </article>
        </div>
    <% end %>
</div>