<div>
    <p>Title: <%= @event.title %></p>
    <p>Description: <%= @event.description %></p>
    <p>Time: <%= @event.date %></p>

    <% if user_signed_in? %>
        <% if current_user.liked?(@event, vote_scope: :going) %>
            <%= link_to "Ungoing", response_event_path(@event, event_resonse: :clear), method: :put %>
        <% else %>
            <%= link_to "Going", response_event_path(@event, event_resonse: :going), method: :put %>
        <% end %>

        <% @going_users.each do |i| %>
            <p><%= i.name %></p>
        <% end %>

        <% if current_user.liked?(@event, vote_scope: :mabey) %>
            <%= link_to "Unmabey", response_event_path(@event, event_resonse: :clear), method: :put %>
        <% else %>
            <%= link_to "Mabey", response_event_path(@event, event_resonse: :mabey), method: :put %>
        <% end %>

        <% @mabey_users.each do |i| %>
            <p><%= i.name %></p>
        <% end %>

        <% if current_user.liked?(@event, vote_scope: :cant) %>
            <%= link_to "Un-Cant go", response_event_path(@event, event_resonse: :clear), method: :put %>
        <% else %>
            <%= link_to "Cant Go", response_event_path(@event, event_resonse: :cant), method: :put %>
        <% end %>

        <% @cant_users.each do |i| %>
            <p><%= i.name %></p>
        <% end %>

        <% if current_user.admin %>
            <%= link_to "Edit", edit_event_path(@event) %>
            <%= link_to "Delete", event_path(@event), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    <% end %>

    <%= link_to "Back", events_path %>
</div>