<div class='committee-form'>
  <%= simple_form_for(@committee) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div class='committee-topper'>
        <%= f.input :name, autofocus: true, label: false, placeholder: 'Name' %>
        <%= f.input :role, label: false, placeholder: 'Role' %>
      </div>
      <%= f.input :description, as: :text, label: false, placeholder: 'Description', maxlength: 100 %>
    </div>

    <div class="form-actions">
      <%= link_to 'Cancel', aboutus_path, class: 'button' %>
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
