<hr/>
<article class='news-feed-article'>
    <h2><%= post.title %></h2>
    <div class='news-feed-article-body post-display'>
        <%= markdown_body(post.body).html_safe %>
    </div>
    <div class='news-feed-article-buttons'>
        <% if has_perms? %>
            <%= link_to "Delete", post_path(post), method: :delete %>
            <%= link_to "Edit", edit_post_path(post)%>
        <%end%>
        <%= link_to "See Full Post >", post_path(post) %>
    </div>
</article>