<p id="notice"><%= notice %></p>
<%= link_to '🖋 Edit', (PageContent.find_by(page: 'home').nil? ? new_page_content_path(page: 'home') : edit_page_content_path(PageContent.find_by(page: 'home'), page: 'home')), method: :get, class:'link-button' %>
<div>
  <% if PageContent.find_by(page: 'home')%>
  <%= sanitize markdown_body(PageContent.find_by(page: 'home').body) %>
  <%else%>
    Welcome to the NUAC Website!
  <%end%>
</div>

<h1 style='display:inline-block'>News Feed</h1>
<%= link_to '🖋 Create New', new_post_path, method: :get, class:'link-button news-new-button' %>
<%= render collection: @posts, as: :post, partial: 'postIndex'%>