
      <nav class='navbar'>
        <ul>
          <li><%= link_to root_path do%>
              <img src=<%= asset_path 'Logo.png' %>>
              <%end%>
          </li>
          <li><%= link_to "About Us", aboutus_path %></li>
          <li><%= link_to "Events & Calender", events_path %></li>
          <li><%= link_to "Club Records", records_path %></li>
          <li><%= link_to "Alumni", alumni_path %></li>
          <li><%= link_to "Contact Us", contactus_path %></li>
        </ul>
      </nav>