
      <nav class='navbar'>
        <ul>
          <li><%= link_to root_path do%>
              <img src=<%= asset_path 'Logo.png' %>>
              <%end%>
          </li>
          <li><%= link_to "About Us", committees_path %></li>
          <li><%= link_to "Events & Calender", "#"%></li>
          <li><%= link_to "Club Records", "#"%></li>
          <li><%= link_to "Alumni", "#"%></li>
          <li><%= link_to "Contact Us", "#"%></li>
        </ul>
      </nav>