<!DOCTYPE html>
<html>
  <head>
    <title>NUAC</title>
    <link rel="icon" type="image/png" href=<%= asset_path 'Logo.png' %>>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/logginheader'%>
    <div class='container'>
      <%= render 'layouts/navbar'%>
      <br/>
      <br/>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
  <%= render 'layouts/footer'%>
  </body>

</html>
