<!DOCTYPE html>
<html>
  <head>
    <title>NUACWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class='container'>
      <%= button_to 'Login', '#', class: 'login-button'%>
      <nav class='navbar'>
        <ul>
          <li><img src=<%= asset_path 'Logo.png' %>></li>
          <li><%= link_to "About Us", "#"%></li>
          <li><%= link_to "Events & Calender", "#"%></li>
          <li><%= link_to "Club Records", "#"%></li>
          <li><%= link_to "Alumni", "#"%></li>
          <li><%= link_to "Contact Us", "#"%></li>
        </ul>
      </nav>
      <br/>
      <br/>
      <%= yield %>
    </div>
  </body>
</html>
